.Phmain-div{
    display: flex;
}

.Phleft-div{
    width: 65%;
    height: 90%;
    margin-top: 50px;
    border: 1px solid lightgrey;
    margin-left: 79px;
    padding-left: 100px; 
    padding-top: 80px;
    padding-bottom: 604px;
    margin-bottom:40px;
    }

.Phright-div{
    width: 85%;
    height: 170%;
    border: 1px solid lightgrey;
    padding: 15px;
    margin-top: 50px;
    margin-right: 79px;
    float: left;
    margin-bottom:100px; 
}

.Pdetails{
    padding: 20px;
    margin: 10px;
    }

.PaddToCart{
    height: 15%;
    width: 30%;
    text-align: center;
    color: blue;
    margin: auto;
    margin-bottom: 25px;
}

.Pprice{
    color: gold;
}