.phones{
    border: 1px solid black;
    border-radius: 5px;
    padding: 12px;
    margin: 10px;
    background-color: lavender;
    width: 20%;
    height: 30%;
    float: left;
    margin-bottom: 60px;
    padding-bottom: 30px;
}
