.phones {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  width: 200px;
  height: 560px;
  background-color: lavender;
  margin-bottom: 60px;
  padding-bottom: 60px;
}

.addto {
  height: 250px;
}

.addToCart {
  border: none;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: lightskyblue;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}
