.header {
  background-color: black;
  color: white;
  height: 20%;
  padding-top: 10px;
  padding-left: 30px;
  display: flex;
}

.eco {
  color: aliceblue;
}
.logo {
  padding-left: 565px;
}

.cart1 {
  padding-left: 5px;
  color: lightslategray;
}

.cart2 {
  color: aliceblue;
}
